<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="APP_LOG_PATH" value="/root/apps/logs" />
	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${APP_LOG_PATH}/app.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>app-%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- 日志中显示 sql 的值便于问题排查. -->
	<logger name="org.hibernate.type" level="trace" />
	<root level="INFO">
		<appender-ref ref="ROLLING" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>